html{
    scroll-behavior: smooth;
}

body{
    background-color: #0f0529;
    color: white;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr.line{
    color: #ae49fb;
    border: none;
    height:5px;
    background-color:#d9a6ff;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: #4a2574;
}

.nav1{
    font-size: xx-large;
}

.nav1 span{
    color:#b248f8;
}

.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
    transition: all 5s;
}

.nav2 a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in;
}

.nav2 a:hover{
    color: #924dbf;  
}

#home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background:radial-gradient(#7b26b5,#4a2574);
    justify-content: center;
    align-items: center;
}

.home1{
    font-size: xxx-large;
}

.home1 span {
    color:#d299fe;
}

.home2{
    font-size: x-large;
}

#about{
    align-content: center;
}

#about h2{
    font-size: xx-large;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0%;
}

#about h2 span{
    color: #ae49fb;
}

.about1{
    display: flex;
}

.myImage{
    width: 43%;
    height: auto;
    border: 3px solid #ae49fb;
    border-radius: 5%;
    padding: 2% 2%;
    margin: 5%;
}

.myImage img{
    width: 100%;
    object-fit: contain;
    border: none;
    border-radius: 5%;
}

.myImageText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    gap: 7%;
    margin-right: 2%;
}

.about2{
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
}

.about20{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: auto;
    border:none;
    border-radius: 5%;
    background: linear-gradient(#4a2574,#7b26b5);
    padding: 1rem;          
    justify-content: center;
    align-items:flex-end;
    box-shadow:0px 7px 5px#591aa6;
    transition: all 0.5s;
}

.about20:hover{
    transform: translateY(-20px);
    box-shadow: 5px 7px 7px #8d45bd;
    background: linear-gradient(#7b26b5,#a447e1);
}

.about20 span{
    font-size: x-large;
    font-weight: bolder;
}

.aboutImg img{
    width:80%;
    padding: 0%;
    margin: 0%;
}

.skill-card{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2% 2%;
}

h2{
    text-align: center;
    font-size: xx-large;
}

h2 span{
    color:#ae49fb;
}

.Levels{
    width: 90%;
    height: auto;
    background: linear-gradient(#4a2574,#7b26b5);
    display: flex;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
    margin: 3%;
}

.level{
    padding-left: 4rem;
    font-size: x-large;
}

.skill1,.skill3{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-right: 8rem;
}

.skill2{
    display: flex;
    flex-direction: column;
    padding-right: 8rem;
    gap: 1rem;
}

.skill21,.skill22{
    display: flex;
    gap: 2rem;
}

.skill img{
    width: 70px;
    height: 67px;
    padding: 4%;
    margin-right: 4%;
    border: none;
    border-radius: 15px;
    background-color: #af4ff8;
    font-size: larger;
    transition: all 0.3s ease;
}

.skill:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: medium;
    width: 75px;
    height: 72px;
    border: none;
    border-radius: 15px;
    background-color: #9739d6;/* background-color: #d9a6ff; */
    color: white;/* color:#7b26b5; */
    box-shadow: 0px 7px 5px #b675e7;
}

#education{
    padding: 10px;
    background: linear-gradient(#7b26b5,#932ce2);
}

#education h2 span{
    color:#b070da;
}

.allEdu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentPursue{
    display: flex;
    background: linear-gradient(#5b0594,#620ba0);
    justify-content: flex-start;
    width: 90%;
    align-items: center;
    padding: 2%;
    margin: 1%;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 7px 5px #4a2574;
    transition: all 0.3s;
}

.currentPursue:hover{
    transform:scale(1.005);
    background: linear-gradient(#7107b8,#720cbb);
    box-shadow: 4px 7px 5px #2c0854;
}

.currentPursueData .degree{ 
    font-size: 21px;
}

.institute{
    font-size: 15px;
    color: #cf95f6;
}

.timeperiod{
    font-size: 17px;
}

.branch{
    font-size: 18px;
}

.prevEdu{
    margin-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.prevEdu0{
    width:30%;
    height:110px;
    border: none;
    border-radius: 12px;
    background-color: #7107b8;
    text-align: center;
    transition: all 0.3s;
}

.preEdu1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prevEdu0:hover{
    transform:scale(1.005);
    background: linear-gradient(#7107b8,#8510d8);
    box-shadow: 4px 7px 5px #2c0854;
}

#contact{
margin-bottom: 40px;
}

.contact{
    display: flex;
    justify-content: space-around;
}

.tocontact{
    width:45%;
}

.tocontact h3{
    font-size: x-large;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactInfo a{
    text-decoration: none;
    color: white;
}

.email,.linkedin,.github{
    width: 100%;
    height: 74px;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background-color: #8d45bd;
    opacity: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.email span,.linkedin span,.github span{
    font-size: 20px;
    color: #afa6b5;
}

.email img,.linkedin img,.github img{
    height: 55px;
    width: auto;
    padding-left: 5%;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.emailid, .LinkedIn,.GitHub{
    padding-left: 10px;
}

label{
    font-size: x-large;
}

input , textarea{
    width:95%;
    padding: 2%;
    margin: 2%;
    border: none;
    border-radius: 5px;
    border-color: #ae49fb;
    background-color: #711eb0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    outline: none;
    font-size: medium;
}

textarea{
    height: 110px;
}

input:focus,textarea:focus{
    border: 2px solid #d299fe;
}

::placeholder{
    color: rgb(255, 255, 255);
    font-size:medium;
    font-weight: 50;
}

button{
    justify-content: center;
    color:white;
    width: 100%;
    height: 42px;
    font-size: 17px;
    background: radial-gradient(#924dbf);
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 7px 3px #720cbb;
    transition: all 0.2s ;
}

button:hover{
    transform: scale(1.02);
    background: radial-gradient(#aa50e5);
    box-shadow: 0px 7px 3px #720cbb
}

dialog {
    width: 20%;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5); /* Dim the rest of the page */
}

dialog p{
    margin: 5%;
}